<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insert | Citizen</title>
  </head>
  <body>
    <%- include("./nav.ejs") %>

    <form method="POST" action="/accidents_inserted">
      <label for="year">Year</label><br />
      <input type="text" id="year" name="year" /><br />
      <label for="tot_accidents">Total accidents</label><br />
      <input type="text" id="tot_accidents" name="tot_accidents" /><br />
      <label for="tot_deaths">Total Deaths</label><br />
      <input type="text" id="tot_deaths" name="tot_deaths" /><br />
      
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
