<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insert | Citizen</title>
  </head>
  <body>
    <%- include("./nav.ejs") %>

    <form method="POST" action="/services_inserted">
      <label for="NH-id">NH-id</label><br />
      <input type="text" id="NH-id" name="NH-id" /><br />
      <label for="Petrolpumps">Petrol pumps</label><br />
      <input type="text" id="Petrol pumps" name="Petrolpumps" /><br />
      <label for="elecpumps">Electricity pumps</label><br />
      <input type="text" id="elecpumps" name="elecpumps" /><br />
      <label for="Hotels">Hotels</label><br />
      <input type="text" id="Hotels" name="Hotels" /><br />
      
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
